@import '../abstracts/_config';

.blog {
    padding-top: 5rem;

    &__text {
        font-size: 2rem;
        line-height: 2.5rem;
        color: $color-grey;
        margin-bottom: 2rem;
    }

    &__img-box {
        margin-bottom: 2rem;
        border-radius: 0.7rem;
        overflow: hidden;
    }

    &__subheading {
        margin-bottom: 2rem;
    }

    &__new-heading-form {
       min-width: 400px;
    }

    &__new-heading-margin-btn {
        margin-right: 0.5rem;
    }
}
