@import '../abstracts/_config';

.comments {
    &__dropdown {
        &-btn {
            font-size: 1.5rem;
        text-transform: capitalize;
        color: $color-grey;
        }

        &-item {
            font-size: 1.5rem;
        }
    }

    &__add-comment-btn {
        font-size: 1rem;
    }
}

@import '../abstracts/_responsive';
