@import '../abstracts/_config';

.comment {
    max-width: 100%;
    padding: 3rem;
    margin-bottom: 1rem;

    &-reply {
        margin-top: 1rem;
        width: 95%;
        margin-left: auto;
    }

    &__header {
        padding: 0;
        padding-bottom: 1rem;
    }

    &__avatar {
        width: 50px;
        height: 50px;
    }
    
    &__job {
        text-transform: capitalize;
    }

    &__content {
        padding-left: 8rem;
    }

    &__btn {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1.2rem;
        text-transform: capitalize;
        border-radius: 0.7rem;
        transition: background-color 0.4s ease-in-out;

        &:hover {
            background-color: $color-primary-light;
        }
    }
}

@import '../abstracts/_responsive';
