@import '../abstracts/_config';

.featured-icons {
    &__icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        background-color: $color-primary;
        color: $color-white;

        &-img {
            border-right: 0.2rem solid $color-white;
        }
    }

    &__select {
        min-width: 300px;
    }
}

@import '../abstracts/_responsive';
