.publisher {
    &__avatar {
        width: 80px;
        height: 80px;
        margin-right: 2rem;
    }

    &__name {
        text-transform: capitalize;
    }

    &__select {
        min-width: 300px;
    }
}
