.read-next {
    &__card {
        padding: 2rem;

        &-header {
            padding: 0;
            padding-bottom: 1rem;
        }

        &-avatar {
            width: 50px;
            height: 50px;
        }

        &-image {
            border-radius: 0.7rem;
        }

        &-content {
            padding: 0;
            padding-top: 1rem;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
