@import '../abstracts/_config';

.tags {
    &__badge {
        margin-right: 1.5rem;
        cursor: pointer;
    }

    &__tag {
        background-color: $color-primary-light;
        transition: background-color 0.4s ease-in-out;

        &:hover {
            background-color: transparent;
        }
    }
}