.title {
    &__form {
        width: 100%;
    }

    &__option {
        padding: 0.8rem;
        transition: background-color 0.4s ease-in-out,
            transform 0.4s ease-in-out;

        &:hover {
            transform: scale(1.2);
            background-color: 0;
        }
    }
}
