@media (max-width: 450px) {
    .newsletter {
        padding: 2rem;
    }
}

@media (max-width: 490px) {
    .featured-icons__icon {
        margin-bottom: 0.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .comment__content {
        padding-left: 2rem;
    }
}

@media (max-width: 600px) {
    .comment {
        padding: 3rem;
    }
}

@media (max-width: 768px) {
    .newsletter {
        flex-direction: column;

        &__para {
            margin-bottom: 1rem;
        }
    }
}
