@import '../abstracts/_config';

.footer {
    background-color: $color-primary;

    &__link {
        text-transform: uppercase;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}
