@import '../abstracts/_config';

.navbar {
    &__toolbar-up {
        margin: 0 auto;
        width: 100%;
        max-width: 1500px;
        padding-top: 2rem;
        align-items: flex-start;
    }

    &__logo {
        cursor: pointer;
    }

    &__option {
        font-size: 2rem;
        margin: 1rem;
        transition: background-color 0.4s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__options-btn {
        font-size: 2rem;
        padding: 0;
    }

    &__toolbar-down {
        margin: 0 auto;
        width: 100%;
        max-width: 1400px;
    }

    &__link {
        letter-spacing: 0.1rem;
        color: $color-white-transparent-2;
        margin-right: 2rem;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
            background-color: $color-white-transparent;
            color: $color-white;
        }
    }

    &__links-btn {
        padding: 0;
        font-size: 2rem;
    }

    &__drawer {
        background-color: $color-primary;
        color: $color-white;

        &-divider {
            background-color: $color-white;
        }

        &-list {
            padding: 0 5rem;
        }

        &-item {
            display: flex;
            justify-content: center;
        }

        &-link {
            text-transform: uppercase;
        }
    }

    &__options-drawer-close-btn {
        font-size: 3rem;

        &:hover {
            background-color: transparent;
        }
    }

    &__links-drawer-close-btn {
        font-size: 3rem;
        padding-left: 2rem;
    }
}
